{% extends 'base.html.twig' %}

{% block body %}
    <h2>Tableau de bord de l'administrateur</h2>
    
    <a href="{{ path('list_users') }}" class="btn btn-primary">Gestion des utilisateurs</a>
    <a href="#" class="btn btn-primary">Gestion des itinéraires</a>
{% endblock %}
