{% extends 'base.html.twig' %}

{% block body %}
    <h2>Connexion à l'administration</h2>
    <form method="POST" action="{{ path('admin_login') }}">
        <label for="email">Email :</label>
        <input type="email" id="email" name="email" required>

        <label for="password">Mot de passe :</label>
        <input type="password" id="password" name="password" required>

        <button type="submit">Se connecter</button>
    </form>
{% endblock %}