{% extends 'base.html.twig' %}

{% block title %}Page introuvable{% endblock %}

{% block body %}
   <div class="container mt-5 mb-5">
        <div class="image-container text-center">
            <img src="{{ asset('error.jpg') }}" alt="Image introuvable" class="img-fluid" />
            <a class="btn btn-warning btn-lg btn-bottom" href="{{ path('user') }}">
                Aller à la page d'accueil
            </a>
        </div>
    </div>
{% endblock %}