{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}

    <div class="container mt-4">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h1 class="mb-4">Créer un nouvel utilisateur</h1>

                {{ include('back/user/_form.html.twig') }}

            </div>
        </div>
                <a class="btn btn-sm btn-secondary" href="{{ path('app_back_user_list') }}">Retour à la liste</a>
    </div>

{% endblock %}
